{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font text-black my-4">Wishlist</h2>
                <hr class="w-100">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {% for list in wishlist %}
                    {% if list.item_count and list.item_count > 0 %}
                        <div class="d-block d-md-none">
                            {% for item in list.wishitems.all %}
                            <div class="row">
                                <div class="col-12 col-sm-10 offset-sm-1 mb-2">
                                    {% include "wishlist/product-image.html" %}
                                </div>
                                <div class="col-12 col-sm-10 offset-sm-1  mb-2">
                                    {% include "wishlist/product-info.html" %}
                                </div>
                                <div class="col-12 col-sm-10 offset-sm-1 order-sm-last">
                                    <p>€{{ item.wishitem_total }}</p>
                                </div>
                                <div class="col-10 offset-1 col-sm-10 offset-sm-1 ">
                                    {% include "wishlist/quantity-input-form.html" %}
                                </div>
                                <div class="col-12 col-sm-10 offset-sm-1 text-center">
                                    {% include "wishlist/addbag.html" %}
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                            {% endfor %}
                            <!--scroll up to top button-->
                            <div class="btt-button shadow-sm rounded-0 border border-black">
                                <a class="btt-link d-flex h-100">
                                    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive rounded d-none d-md-block">
                            <table class="table table-sm table-borderless">
                                <thead class="text-black">
                                    <tr>
                                        <th class="pl-3" scope="col" colspan="2">Product Info</th>
                                        <th class="text-center" scope="col">Qty</th>
                                        <th class="text-center" scope="col">Subtotal</th>
                                        <th class="text-center" scope="col">Add to Bag</th>
                                    </tr>
                                </thead>
                                {% for item in list.wishitems.all %}
                                    <tr>
                                        <td class="p-3 w-25">
                                            {% include "wishlist/product-image.html" %}
                                        </td>
                                        <td class="py-3">
                                           {% include "wishlist/product-info.html" %}
                                        </td>
                                        <td class="py-3 w-25">
                                            {% include "wishlist/quantity-input-form.html" %}
                                        </td>
                                        <td class="py-3 text-center">
                                            <p class="my-0">€{{ item.wishitem_total }}</p>
                                        </td>
                                        <td class="py-3 text-center">
                                            {% include "wishlist/addbag.html" %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p>There are no items on your wishlist just now, get shopping!</p>
                            <a href="{% url 'products' %}" class="btn btn-success rounded-0 btn-lg mt-1">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'wishlist/includes/quantity_input_script.html' %}
<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/wishlist/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

<!--Scroll to top button-->
    <script>
        $('.btt-link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>
{% endblock %}