html {
    height: 100%;
}

body {
    background: url('/media/croppedPineapple.png') no-repeat center center fixed;
    background-size: cover;
    background-position: 85% 85%;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Open Sans', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
}

.hero-font {
    font-size: 6rem;
}

.main-logo-link {
    width: fit-content;
}

.search-container {
    background-color: #000;
}

.home-button {
    color: white;
    min-width: 260px;
    font-family: 'Bungee', cursive;
    font-size: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
    font-family: 'Bungee', cursive;
}

.home-button:hover,
.home-button:active,
.home-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.header-container {
        padding-top: 90px;
    }

.searchbox {
    width: 50%;
}
  
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
   
}

@media (max-width: 1199.98px) { 
        .hero-font {
        font-size: 5rem;
    }

    .home-button {
    min-width: 240px;
    font-size: 1.25rem;
    }

}

@media (max-width: 992px) {
    .nav-item {
        background-color: #fff;
        border-bottom: 1px;
        border-color: #FDDC2F;
        border-style: hidden hidden solid hidden;
        font-size: 1.5rem;
    }
 
}


@media (max-width: 767.98px) {
        .hero-font {
        font-size: 3.5rem;
    }

    .home-button {
    min-width: 240px;
    font-size: 1rem;
    }

    
    .searchbox {
        width: 100%;
    }

}

/* on galaxy fold devices only xxs screen size */
@media (max-width: 330px) {
        .hero-font {
        font-size: 3rem;
    }

}
