<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown px-lg-2">
            <a class="logo-font font-weight-bold nav-link text-black px-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0 rounded-0 text-center py-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?gender=F" class="dropdown-item font-weight-bold">All Brands</a>
                <a href="{% url 'products' %}?brand=1&gender=F" class="dropdown-item font-weight-bold">Ray-Ban</a>
                <a href="{% url 'products' %}?brand=2&gender=F" class="dropdown-item font-weight-bold">Oakley</a>
                <a href="{% url 'products' %}?brand=3&gender=F" class="dropdown-item font-weight-bold">Gucci</a>
                <a href="{% url 'products' %}?brand=4&gender=F" class="dropdown-item font-weight-bold">Dolce & Gabana</a>
                <a href="{% url 'products' %}?brand=5&gender=F" class="dropdown-item font-weight-bold">Prada</a>
            </div>
        </li>

        <li class="nav-item dropdown px-lg-2">
            <a class="logo-font font-weight-bold nav-link text-black px-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <div class="dropdown-menu border-0 rounded-0 text-center font-weight-bold py-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?gender=M" class="dropdown-item font-weight-bold">All Brands</a>
                <a href="{% url 'products' %}?brand=1&gender=M" class="dropdown-item font-weight-bold">Ray-Ban</a>
                <a href="{% url 'products' %}?brand=2&gender=M" class="dropdown-item font-weight-bold">Oakley</a>
                <a href="{% url 'products' %}?brand=3&gender=M" class="dropdown-item font-weight-bold">Gucci</a>
                <a href="{% url 'products' %}?brand=4&gender=M" class="dropdown-item font-weight-bold">Dolce & Gabana</a>
                <a href="{% url 'products' %}?brand=5&gender=M" class="dropdown-item font-weight-bold">Prada</a>
            </div>
        </li>

        <li class="nav-item dropdown px-lg-2">
            <a class="logo-font font-weight-bold nav-link text-black px-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Summer Sale
            </a>
            <div class="dropdown-menu border-0 rounded-0 text-center font-weight-bold py-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sale=True" class="dropdown-item font-weight-bold">All Sale</a>
                <a href="{% url 'products' %}?gender=F&sale=True" class="dropdown-item font-weight-bold">Women</a>
                <a href="{% url 'products' %}?gender=M&sale=True" class="dropdown-item font-weight-bold">Men</a>
            </div>
        </li>

        
    </ul>
</div>