{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5 mb-2 mb-xl-0">
                {% if sale == 'True' %}
                    {% if not gender %}
                        <h2 class="logo-font text-black">Summer Sale</h2>
                    {% else %}
                        {% if gender == 'F' %}
                            <h2 class="logo-font text-black">Women's Summer Sale</h2>
                        {% else %}
                            <h2 class="logo-font text-black">Men's Summer Sale</h2>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if gender == 'F' %}
                        <h2 class="logo-font text-black">Women's Sunglasses</h2>
                    {% else %}
                        <h2 class="logo-font text-black">Men's Sunglasses</h2>
                    {% endif %}
                {% endif %}
                {% for brand in brand %}
                    {% if brand is not None %}
                        <h4 class="logo-font text-black">{{ brand.friendly_name }}</h4>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row justify-content-center">
                    {% for product in products %}
                        <div class="col-12 col-md-6 col-xl-5 pb-5 p-xl-5">
                            <div class="card h-100 border-0">
                                <div class="img_wrap">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.image_credit }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="img_description text-center d-flex align-items-center">
                                        <div class="my-auto p-2">
                                            <h4 class="font-weight-bold mb-2 mb-md-2 mb-lg-4">{{ product.name }}</h4>
                                            <div class="product_desc"><p class="font-weight-bold">{{ product.description }}</p></div>
                                            {% if product.rating %}
                                                <p class="mb-0"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</p><br>
                                            {% else %}
                                                <p class="mb-0">No Rating</p><br>
                                            {% endif %}
                                            <div>
                                                <a href="{% url 'product_detail' product.id %}" class="bg-success text-uppercase p-2 product_button font-weight-bold">View Product</a>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <div class="row">
                                        <div class="col-8 p-0"><p class="mb-0 font-weight-bold">{{ product.name }}</p></div>
                                        {% if product.sale == True %}
                                        <div class="col-4 p-0"><p class="mb-0 text-right font-weight-bold"><s>€{{ product.price }}</s><strong class="text-danger"> €{{ product.saleprice }}</strong></p></div>
                                        {% else %}
                                        <div class="col-4 p-0"><p class="mb-0 text-right font-weight-bold">€{{ product.price }}</p></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<script>
    $(".img_description").click(function() {
    window.location = $(this).find("a").attr("href"); 
    return false;
    });
</script>
{% endblock %}